*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 20px 0;
}

.apilist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apilist li{
    margin: 20px 0;
}


.apis a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    transition: all 0.3s ease-in-out;
}

li{
    list-style: none;
    margin: 10px 0;
}